.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    font-size: 70px;
    position: relative;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(9),
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.x::before,
.x::after {
    content: "";
    height: 90px;
    width: 20px;
    background-color: black;
    position: absolute;
    top: 10%;
    right: 40%;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.circle::before {
    content: "";
    height: 90px;
    width: 90px;
    background-color: black;
    position: absolute;
    top: 7%;
    left: 7%;
    border-radius: 50%;
}

.circle::after {
    content: "";
    height: 70px;
    width: 70px;
    background-color: white;
    position: absolute;
    top: 17%;
    left: 17%;
    border-radius: 50%;
}

.winner-message {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.winner-message.show {
    display: flex;
}

.final-message {
    font-size: 60px;
    color: white;
}

button {
    width: 150px;
    color: black;
    padding: 10px;
    font-weight: bold;
}